@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

ul,li {
  list-style: none;
  margin: 0;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.block {
  display: block;
}
.none {
  display: none;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-right {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.bgWhite {
  background: #fff;
}

// main-container global css
.app-container {
  padding: 20px;
}
.app-main {
  padding: 20px;
}


